.nameLabel
{
   margin-top: 40%; 
}
.label
{   
	margin-left: 13%;
    margin-right: 15%;
    color: black;
    font-size: 20px;
}

 .graphListContainer
 {
    margin-top: 5px;
 	display: block;
    margin-left: 14%;
    margin-right: 15%;
    width: 1070px;
    height: 250px;
    overflow: auto;
    background-color: #cce2ff;
 }

 .graphLabel
 {
 	text-align: center;
 }

 .graphContainer
 {
 	margin-top: 30px;
    display: block;
    margin-left: 25%;
    margin-right: 30%;
    width: 800px;
    height: 350px;
    overflow: auto;
 }

 .form
 {
 	display: block;
    margin-left: 12%;
    margin-right: 15%;
    background-color: #cce2ff;
    padding-bottom: 30px;
 }

 .fields
 {
 	padding-top: 20px;
 	display: block;
    margin-left: 12%;
    margin-right: 15%;	
 }

 .standings
 {
    margin-left: 10%;
    margin-right: 5%;
    margin-bottom: 20%;  
 }