body {
  margin: 0;
  padding: 0;
  padding-top: 65px;
  padding-bottom: 30px;
  font-family: Arial, Helvetica, sans-serif;
  background-clip: content-box;
  box-shadow: 0 0 0 80px #f0f0f0 inset;
  background-color: #f0f0f0;
}
html{
  background: #f0f0f0;
}
.all {
  box-shadow: 0 0 0 80px #f0f0f0 inset;
  background-color: #f0f0f0;
}
.colorPadding{
  height: 580px;
  background: #f0f0f0;
}
.stick {
  position: -webkit-sticky;
  position: sticky;
  top: 0;
}

a {
  text-decoration: none !important;
}

a:hover {
  color: #72aaea !important;
}
.pull-right {
  position: absolute;
  right: 0px;
}
